<div class="container mt-4">
    <div class="row">
        <div class="col-12 mb-3">
            <h5 class="fw-bold">Genel Bilgiler</h5>
        </div>
        <div class="row ">
            <div class="col-lg-8 ">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled fw-bold">
                            <li>
                                <i class="fa-solid fa-umbrella-beach me-2 my-3"></i>Çocuk Dostu
                            </li>
                            <li>
                                <i class="fa-solid fa-umbrella-beach  me-2 mb-3 "></i>Özel Plaj
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled fw-bold">
                            <li>
                                <i class="fa-solid fa-umbrella-beach me-2 my-3"></i>Denizi Kum
                            </li>
                            <li>
                                <i class="fa-solid fa-umbrella-beach me-2 mb-3"></i>Güvenli Turizm Sertifikalı Otel
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 ">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius eaque, magni neque qui consequatur molestias doloremque molestiae, atque fugiat ipsa, beatae iure nesciunt exercitationem facilis doloribus? Vel, dolores mollitia dolor voluptas temporibus tenetur minus numquam recusandae nisi magni vitae laudantium dolorem est ratione reiciendis nostrum error quasi. Sapiente voluptatum voluptatem at minima consequuntur quod atque officia impedit quidem mollitia?
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="col bg-warning rounded" style="--bs-bg-opacity: .5;">
                    <h6 class="p-2 fw-bold fs-6 ms-1"><i class="fa-solid fa-circle-check me-2 text-warning"></i>Güvenli Turizm Sertifikalı Otel</h6>
                </div>
                <div class="col">
                    <img src="https://images.etstur.com/assets/web/static-pages/google-map-placeholder.png" alt="" class="" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>
</div>