<div id="menu" class="container">
    <div class="row mt-3">
        <div class="col">
            <ul class="d-flex flex-wrap list-unstyled fs-5 justify-content-around align-items-center m-0 sticky-top">
                <li>
                    <a class="text-decoration-none text-dark" href="#roomCard">Oda Seçenekleri</a>
                </li>
                <li>
                    <a class="text-decoration-none text-dark" href="#generalInfo">Genel Bilgiler</a>
                </li>
                <li>
                    <a class="text-decoration-none text-dark" href="#hotelServices">Otel Olanakları</a>
                </li>
                <li>
                    <a class="text-decoration-none text-dark" href="#">Çevre ve Konum</a>
                </li>
                <li>
                    <a class="text-decoration-none text-dark" href="#">Yorumlar</a>
                </li>
            </ul>
        </div>
    </div>
    <hr class="my-4" />
</div>