<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="//images.ucuzabilet.com/resources/img/ub-ets-logo.svg?v=1" alt="ucuzabilet-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-plane"></i> UÇAK
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#">
                        <i class="fa-solid fa-hotel"></i> OTEL
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Online İşlemler
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#">Giriş Yap / Üye Ol</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/assets/turkey_round_icon_64.png" alt="TR-lang" width="38px">
                        TR
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">
                                <img src="/assets/turkey_round_icon_64.png" alt="TR-lang" width="24px">
                                TR
                            </a></li>
                        <li><a class="dropdown-item" href="#">
                                <img src="/assets/england_round_icon_64.png" alt="ENG-lang" width="24px">
                                ENG
                            </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>