<section class="container mt-5" id="location">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="fw-bold">Alaturka Pansiyon</h5>
                </div>
                <div class="col d-flex ">
                    <ul class="d-flex list-unstyled" id="hotel-location">
                        <li class="me-1">
                            <a href="#" class="text-decoration-none text-muted">Anasayfa</a>
                        </li>
                        <li class="me-1">
                            <a href="#" class="text-decoration-none text-muted">Antalya Otelleri</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none text-muted">Alaturka Pansiyon</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <span style="color: orange;">
                        <i class="fa-solid fa-location-dot me-1"></i>
                    </span>
                    Kemer Göynük, Antalya
                </div>
            </div>
        </div>
        <div class="col-4 justify-content-end d-flex" id="like-share">
            <a href="#" class="text-secondary text-decoration-none ">
                <i class="fa-solid fa-share-nodes me-1 "></i> Paylaş
            </a>
            <a href="#" class="ms-3 text-secondary text-decoration-none">
                <i class="fa-solid fa-heart me-1"></i>Beğen
            </a>
        </div>
    </div>
</section>